<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>LATIN</key>
		<array>
			<string>A</string>
			<string>L</string>
			<string>O</string>
			<string>V</string>
			<string>Y</string>
			<string>i</string>
			<string>v</string>
			<string>w</string>
			<string>Adieresis</string>
			<string>Lcaron</string>
			<string>Odieresis</string>
			<string>Ydieresis</string>
			<string>igrave</string>
		</array>
		<key>lc</key>
		<array>
			<string>i</string>
			<string>v</string>
			<string>w</string>
			<string>igrave</string>
		</array>
		<key>public.kern1.LAT_A</key>
		<array>
			<string>A</string>
			<string>Adieresis</string>
		</array>
		<key>public.kern1.LAT_L</key>
		<array>
			<string>L</string>
			<string>Lcaron</string>
		</array>
		<key>public.kern1.LAT_O</key>
		<array>
			<string>O</string>
			<string>Odieresis</string>
		</array>
		<key>public.kern1.LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern1.LAT_i</key>
		<array>
			<string>i</string>
			<string>igrave</string>
		</array>
		<key>public.kern1.LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
		</array>
		<key>public.kern1.quotedbl</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>public.kern2.LAT_A</key>
		<array>
			<string>A</string>
			<string>Adieresis</string>
		</array>
		<key>public.kern2.LAT_E</key>
		<array>
			<string>L</string>
			<string>Lcaron</string>
		</array>
		<key>public.kern2.LAT_O</key>
		<array>
			<string>O</string>
			<string>Odieresis</string>
		</array>
		<key>public.kern2.LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern2.LAT_i</key>
		<array>
			<string>i</string>
			<string>igrave</string>
		</array>
		<key>public.kern2.LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
		</array>
		<key>public.kern2.quotedbl</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>punc</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>uc</key>
		<array>
			<string>A</string>
			<string>L</string>
			<string>O</string>
			<string>V</string>
			<string>Y</string>
			<string>Adieresis</string>
			<string>Lcaron</string>
			<string>Odieresis</string>
			<string>Ydieresis</string>
		</array>
	</dict>
</plist>
