<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Lcaron</key>
		<dict>
			<key>V</key>
			<integer>-57</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-57</integer>
			<key>public.kern2.quotedbl</key>
			<integer>-68</integer>
		</dict>
		<key>V</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<integer>-120</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_i</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_v</key>
			<integer>-41</integer>
		</dict>
		<key>public.kern1.LAT_A</key>
		<dict>
			<key>V</key>
			<integer>-119</integer>
			<key>public.kern2.LAT_A</key>
			<integer>10</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-39</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-90</integer>
			<key>public.kern2.LAT_v</key>
			<integer>-60</integer>
			<key>public.kern2.quotedbl</key>
			<integer>-60</integer>
		</dict>
		<key>public.kern1.LAT_L</key>
		<dict>
			<key>V</key>
			<integer>-119</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-19</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-108</integer>
			<key>public.kern2.LAT_v</key>
			<integer>-41</integer>
			<key>public.kern2.quotedbl</key>
			<integer>-110</integer>
		</dict>
		<key>public.kern1.LAT_O</key>
		<dict>
			<key>V</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-24</integer>
			<key>public.kern2.LAT_O</key>
			<integer>10</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-39</integer>
			<key>public.kern2.quotedbl</key>
			<integer>-29</integer>
		</dict>
		<key>public.kern1.LAT_Y</key>
		<dict>
			<key>igrave</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-90</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_i</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_v</key>
			<integer>-69</integer>
		</dict>
		<key>public.kern1.LAT_i</key>
		<dict>
			<key>V</key>
			<integer>-21</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_v</key>
			<integer>-15</integer>
		</dict>
		<key>public.kern1.LAT_v</key>
		<dict>
			<key>V</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-71</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-21</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_v</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.quotedbl</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<integer>-85</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-29</integer>
			<key>public.kern2.LAT_i</key>
			<integer>10</integer>
		</dict>
	</dict>
</plist>
