<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>300</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-55</integer>
		<key>@MMK_R_e</key>
		<integer>-25</integer>
		<key>@MMK_R_i</key>
		<integer>-35</integer>
		<key>@MMK_R_u</key>
		<integer>-45</integer>
		<key>o</key>
		<integer>900</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_e</key>
		<integer>-20</integer>
		<key>@MMK_R_i</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>800</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>u</key>
		<integer>30</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-30</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>600</integer>
		<key>@MMK_R_u</key>
		<integer>700</integer>
		<key>aacute</key>
		<integer>777</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>C</key>
		<integer>-40</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>aacute</key>
		<integer>666</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>600</integer>
	</dict>
</dict>
</plist>
